{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<h1 class="title">Current panorama of the EDAM ontology</h1>

<section class="section">
    <h2 class="subtitle">Number of terms available</h2>

    <nav class="level is-mobile">
        <div class="card has-text-centered">
            <div class="card-content">
                <div class="content">
                    <p class="heading">
                        <a href="https://edamontology.org/topic" class="button" target="_blank" style="width: 150px; color:white;background-color: forestgreen">Topics</a></p>
                    <p class="title">{{ topics }}</p>
                </div>
            </div>
        </div>

        <div class="card has-text-centered">
            <div class="card-content">
                <div class="content">
                    <p class="heading"><a href="https://edamontology.org/operation" class="button" target="_blank" style="width: 150px; color:white;background-color: steelblue">Operations</a></p>
                    <p class="title">{{ operations }}</p>
                </div>
            </div>
        </div>

        <div class="card has-text-centered">
            <div class="card-content">
                <div class="content">
                    <p class="heading">
                        <a href="https://edamontology.org/data" class="button" target="_blank" style="width: 150px; color:white;background-color: indianred">Data</a></p>
                    <p class="title">{{ data }}</p>
                </div>
            </div>
        </div>

        <div class="card has-text-centered">
            <div class="card-content">
                <div class="content">
                    <p class="heading"><a href="https://edamontology.org/format" class="button" target="_blank" style="width: 150px; color:white;background-color: coral">Formats</a></p>
                    <p class="title">{{ formats }}</p>
                </div>
            </div>
        </div>

    </nav>
</section>


<section class="section">

    <h2 class="subtitle">Overview of the topics</h2>

    <nav class="level is-mobile">

                <div class="content">
                    <figure>
                        <img src="/static/img/topic_cloud_dev.png" alt="Wordcloud view of the topics in EDAM" width="600">
                        <img src="/static/img/topic_tree_dev.png" alt="Treemap view of the topics in EDAM" width="1000">
                    </figure>
                </div>
    </nav>
</section>

<section class="section">

    <h2 class="subtitle">Overview of the operations</h2>

    <nav class="level is-mobile">

                <div class="content">
                    <figure>
                        <img src="/static/img/operation_cloud_dev.png" alt="Wordcloud view of the operations in EDAM" width="600">
                        <img src="/static/img/operation_tree_dev.png" alt="Treemap view of the operations in EDAM" width="1000">
                    </figure>
                </div>
    </nav>
</section>

<section class="section">

    <h2 class="subtitle">Overview of the data types</h2>

    <nav class="level is-mobile">

                <div class="content">
                    <figure>
                        <img src="/static/img/data_cloud_dev.png" alt="Wordcloud view of the data in EDAM" width="600">
                        <img src="/static/img/data_tree_dev.png" alt="Treemap view of the data in EDAM" width="1000">
                    </figure>
                </div>
    </nav>
</section>


{% endblock %}