{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<h1 class="title">Current panorama of the EDAM ontology</h1>

<section class="section">
    <h2 class="subtitle">Number of terms available</h2>

    <nav class="level is-mobile">
        <div class="card has-text-centered">
            <div class="card-content">
                <div class="content">
                    <p class="heading">
                        <a href="https://edamontology.org/topic" class="button" target="_blank" style="width: 150px; color:white;background-color: forestgreen">Topics</a></p>
                    <p class="title">{{ topics }}</p>
                </div>
            </div>
        </div>

        <div class="card has-text-centered">
            <div class="card-content">
                <div class="content">
                    <p class="heading"><a href="https://edamontology.org/operation" class="button" target="_blank" style="width: 150px; color:white;background-color: steelblue">Operations</a></p>
                    <p class="title">{{ operations }}</p>
                </div>
            </div>
        </div>

        <div class="card has-text-centered">
            <div class="card-content">
                <div class="content">
                    <p class="heading">
                        <a href="https://edamontology.org/data" class="button" target="_blank" style="width: 150px; color:white;background-color: indianred">Data</a></p>
                    <p class="title">{{ data }}</p>
                </div>
            </div>
        </div>

        <div class="card has-text-centered">
            <div class="card-content">
                <div class="content">
                    <p class="heading"><a href="https://edamontology.org/format" class="button" target="_blank" style="width: 150px; color:white;background-color: coral">Formats</a></p>
                    <p class="title">{{ formats }}</p>
                </div>
            </div>
        </div>

    </nav>
</section>

<section class="section">

    <h2 class="subtitle">Global views of the EDAM landscape</h2>

    <nav class="level is-mobile">

                <div class="content">
                    <p>Content ideas
                        <ul>
                          <li>Some sort of overview, maybe a network view of the first 2 or 3 layers of the ontology</li>
                          <li>Number of children per topic</li>
                          <li>Number of properties per topic</li>
                          <li>Number of tools associated with topics</li>
                        </ul>
                    Views
                        <ul>
                          <li>Sunburst view</li>
                          <li>Treemap</li>
                          <li>Collapsible tree</li>
                          <li>Histograms</li>
                        </ul>
                    </p>
                </div>
    </nav>
</section>

{% endblock %}