eee{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<h1 class="title">Field specific contributions</h1>

    <section class="section">
        <h2 class="subtitle"> <span class="tag is-warning is-medium">{{ no_regex_identifier|length }} </span> EDAM hybrid identifiers with missing regex. </h2>
        <div class="buttons">
            {% for item in random.sample(no_regex_identifier, 8) %}
                <a href="{{ item.class }}" class="button is-outlined is-warning " target="_blank" >{{ item.term }}</a>
            {% endfor %}
        </div>
    </section>




{% endblock %}