<!DOCTYPE html>
<html>
<head>
    <title>EDAM ontology development dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/app.css')}}">
    <link rel="icon" href="https://github.com/edamontology/edamontology/raw/main/EDAM-logo-square.svg">
    <script type="application/ld+json">
        {"@context": {"sc": "https://schema.org/", "dct": "http://purl.org/dc/terms/", "prov": "http://www.w3.org/ns/prov#"}, "@type": ["sc:SoftwareApplication", "prov:Entity"], "@id": "https://github.com/IFB-ElixirFr/EDAM-dashboard", "dct:conformsTo": "https://bioschemas.org/profiles/ComputationalTool/1.0-RELEASE", "sc:name": "EDAM-dashboard", "sc:applicationCategory": "Bioinformatics", "sc:applicationSubCategory": "Ontology development"}
    </script>
</head>

<body>
<div class="columns">

    <div class="column is-one-quarter">
        <section class="section">
            <!--<div class="container">-->
        {% block nav %}
        {% endblock %}
            <!--</div>-->
        </section>
    </div>

    <div class="column">
        <section class="section">
            <!--<div class="container">-->
        {% block body %}
        {% endblock %}
            <!--</div>-->
        </section>
    </div>
</div>
</body>
</html>