{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<h1 class="title">Quick and easy tasks</h1>

    <p> . </p>

<section class="section">
    <h2 class="subtitle"> <span class="tag is-primary is-medium">{{ no_wikipedia_link_topic|length }} </span> EDAM topics with missing wikipedia
        links. </h2>
    <div class="buttons">
        {% if no_wikipedia_link_topic|length < 8 %}
            {% for item in no_wikipedia_link_topic %}
            <a href="https://edamontology.github.io/edam-browser/edit.html?term={{ item.class }}&branch=edam" class="button is-outlined is-primary " target="_blank" >{{ item.term }}</a>
            {% endfor %}
        {% else %}
            {% for item in random.sample(no_wikipedia_link_topic, 8) %}
            <a href="https://edamontology.github.io/edam-browser/edit.html?term={{ item.class }}&branch=edam" class="button is-outlined is-primary " target="_blank" >{{ item.term }}</a>
            {% endfor %}
        {% endif %}
    </div>
</section>


<section class="section">
    <h2 class="subtitle"> <span class="tag is-primary is-medium">{{ literal_links|length }} </span> EDAM concepts have webpage and/or DOI not declared as literal links </h2>
    <div class="buttons">
        {% if literal_links|length < 8 %}
            {% for item in literal_links %}
            <a href="https://edamontology.github.io/edam-browser/edit.html?term={{ item.class }}&branch=edam" class="button is-outlined is-primary " target="_blank" >{{ item.term }}</a>
            {% endfor %}
        {% else %}
            {% for item in random.sample(literal_links, 8) %}
            <a href="https://edamontology.github.io/edam-browser/edit.html?term={{ item.class }}&branch=edam" class="button is-outlined is-primary " target="_blank" >{{ item.term }}</a>
            {% endfor %}
        {% endif %}
    </div>

</section>

<section class="section">
    <h2 class="subtitle"> <span class="tag is-primary is-medium">{{ formatting|length }} </span> Formatting </h2>
        EDAM concepts that could use some proper formatting: labels and definitions starting with capital letters, definitions ending with a full stop, and no additional spaces at the beginning or end of any field. 
    <div class="buttons">
        {% if formatting|length < 8 %}
            {% for item in formatting %}
            <a href="https://edamontology.github.io/edam-browser/edit.html?term={{ item.class }}&branch=edam" class="button is-outlined is-primary " target="_blank" >{{ item.term }}</a>
            {% endfor %}
        {% else %}
            {% for item in random.sample(formatting, 8) %}
            <a href="https://edamontology.github.io/edam-browser/edit.html?term={{ item.class }}&branch=edam" class="button is-outlined is-primary " target="_blank" >{{ item.term }}</a>
            {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock %}