{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<h1 class="title">Finding quick-to-solve curation needs</h1>

    <p> Each section displays up to 8 randomly-picked terms. Refreshing the page will allow to display a new selection. </p>

<section class="section">
    <h2 class="subtitle"> <span class="tag is-warning is-medium">{{ no_wikipedia_link_topic|length }} </span> EDAM topics with missing wikipedia
        links. </h2>
    <div class="buttons">
        {% for item in random.sample(no_wikipedia_link_operation, 8) %}
{#        {% for item in no_wikipedia_link_topic %}#}
        <a href="{{ item.class }}" class="button is-outlined is-warning " target="_blank" >{{ item.term }}</a>
        {% endfor %}
    </div>
</section>

<section class="section">
    <h2 class="subtitle"> <span class="tag is-warning is-medium">{{ no_wikipedia_link_operation|length }} </span> EDAM operations with missing wikipedia
        links. </h2>
    <div class="buttons">
        {% for item in random.sample(no_wikipedia_link_operation, 8) %}
{#        {% for item in no_wikipedia_link_operation %}#}
        <a href="{{ item.class }}" class="button is-outlined is-warning " target="_blank" >{{ item.term }}</a>
        {% endfor %}
    </div>

</section>

<section class="section">
    <h2 class="subtitle"> <span class="tag is-success is-medium">{{ no_broad_synonym_topic|length }} </span> EDAM topics with no broad synonyms. </h2>
    <div class="buttons">
        {% for item in random.sample(no_broad_synonym_topic, 8) %}
{#        {% for item in no_wikipedia_link_operation %}#}
        <a href="{{ item.class }}" class="button is-outlined is-success " target="_blank" >{{ item.term }}</a>
        {% endfor %}
    </div>
</section>

<section class="section">
    <h2 class="subtitle"> <span class="tag is-danger is-medium">{{ no_definition_topic|length }} </span> EDAM topics with no definition. </h2>
    <div class="buttons">
        {% if no_definition_topic|length < 8 %}
            {% for item in no_definition_topic %}
                <a href="{{ item.class }}" class="button is-outlined is-danger " target="_blank" >{{ item.term }}</a>
            {% endfor %}
        {% else %}
            {% for item in random.sample(no_broad_synonym_topic, 8) %}
                <a href="{{ item.class }}" class="button is-outlined is-danger " target="_blank" >{{ item.term }}</a>
            {% endfor %}
        {% endif %}
    </div>
</section>

<section class="section">
    <h2 class="subtitle"> <span class="tag is-warning is-medium">{{ no_regex_identifier|length }} </span> EDAM hybrid identifiers with missing regex. </h2>
    <div class="buttons">
        {% for item in random.sample(no_regex_identifier, 8) %}
            <a href="{{ item.class }}" class="button is-outlined is-warning " target="_blank" >{{ item.term }}</a>
        {% endfor %}
    </div>
</section>

{#    <h2 class="subtitle"> <span class="tag">17 </span> EDAM topics with no synonyms. </h2>
    <div class="buttons">
        <a href="{{ url_for('quick_curation') }}" class="button" target="_blank" style="border-color:forestgreen;color:forestgreen;background-color: #BBFFCC">Topic A</a>
        <a href="{{ url_for('quick_curation') }}" class="button" target="_blank" style="border-color:forestgreen;color:forestgreen;background-color: #BBFFCC">Topic B</a>
        <a href="{{ url_for('quick_curation') }}" class="button" target="_blank" style="border-color:forestgreen;color:forestgreen;background-color: #BBFFCC">Topic C</a>
    </div>

    <h2 class="subtitle"> <span class="tag">123 </span> EDAM operations with missing input attribute(s). </h2>
    <div class="content">
        <a href="{{ url_for('quick_curation') }}" class="button" target="_blank" style="border-color:indianred;color:indianred;background-color: #FFCCDD">Operation X</a>
        <a href="{{ url_for('quick_curation') }}" class="button" target="_blank" style="border-color:indianred;color:indianred;background-color: #FFCCDD">Operation Y</a>
        <a href="{{ url_for('quick_curation') }}" class="button" target="_blank" style="border-color:indianred;color:indianred;background-color: #FFCCDD">Operation Z</a>

    </div>#}



{% endblock %}